openapi: 3.1.0
info:
  title: Lambda Cloud File Systems API
  description: The Lambda Cloud API allows you to manage GPU cloud instances programmatically. You can launch, list, restart, and terminate instances, manage SSH keys, list available instance types and images, and manage persistent storage file systems through a RESTful interface.
  version: v1
  contact:
    name: Lambda Support
    url: https://support.lambdalabs.com/hc/en-us
  license:
    name: Lambda Terms of Service
    url: https://lambda.ai/legal/terms-of-service
servers:
- url: https://cloud.lambdalabs.com/api/v1
  description: Lambda Cloud API production endpoint
security:
- apiKey: []
tags:
- name: File Systems
  description: Operations for managing persistent storage file systems.
paths:
  /file-systems:
    get:
      operationId: listFileSystems
      summary: List File Systems
      description: Returns a list of persistent storage file systems.
      tags:
      - File Systems
      responses:
        '200':
          description: A list of file systems.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FileSystem'
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
components:
  schemas:
    Region:
      type: object
      properties:
        name:
          type: string
          description: Region identifier.
        description:
          type: string
          description: Human-readable region name.
    FileSystem:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the file system.
        name:
          type: string
          description: Name of the file system.
        created:
          type: string
          format: date-time
          description: Creation timestamp.
        mount_point:
          type: string
          description: Mount point path on instances.
        region:
          $ref: '#/components/schemas/Region'
  securitySchemes:
    apiKey:
      type: http
      scheme: basic
      description: Use your Lambda Cloud API key as the username with no password. Pass via Authorization header as Basic auth.
